### Example user template template
### Example user template

# IntelliJ project files
.idea
/framework
/protected/config/database.php
/protected/runtime
assets/*
*.iml
out
gen
# Created by .ignore support plugin (hsz.mobi)
