### Example user template template
### Example user template

# IntelliJ project files
.idea
/protected/config/database.php
/protected/runtime
assets/*
*.iml
uploadFiles/*
out
gen
# Created by .ignore support plugin (hsz.mobi)
